.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.flex-container {
  display: flex;
  align-items: center;
  margin-top: 35px;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 40px;
}

.progress-bar {
  width: 330px;  /* Control the width as needed */
  height: 35px !important;
  appearance: none;  /* Removes default browser styles */
  color: #4CAF50;  /* Color of the progress bar */
  background-color: #eee;  /* Background color */
  border: 1px solid #ccc;  /* Optional: adds a border around the progress bar */
  margin-left: 25px;
}

/* For Webkit browsers like Chrome, Safari */
.progress-bar::-webkit-progress-value {
  background-color: #4CAF50;  /* Chrome and Safari bar color */
}

.progress-bar::-webkit-progress-bar {
  background-color: #eee;  /* Chrome and Safari background color */
}

.input {
  width: 70px;
  height: 30px;
  text-align: center;
}

.progress-bar {
  flex-grow: 1; /* Takes the remaining space */
  height: 20px;
}

/* For Webkit browsers like Chrome and Safari */
.input::-webkit-inner-spin-button,
.input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
